<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>RENTAL SHOP</title>
	</head>
<body>
	<div id="wrapper">
		<header>
			<h1>退会完了画面</h1>
			<hr>
		</header>
		<main>
			<div id="form-area">
				<form th:action="@{/deactivate}" method="post">
					<div class="form-row">
						<label for="userId" class="disp-block">ユーザーID</label>
						<span th:text="${users.userId}"></span>
					</div>
					
					<div class="form-row">
						<a th:href="@{/top}" >TOPへ戻る</a>
					</div>
				</form>
			</div>
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>