<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>レンタル希望</title>
	<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header th:insert="~{header :: header_area}"></header>
		<main>
			<div id="form-area">
				<div class="form-row">
					<span th:text="${error}" class="errors"></span>
					<span th:text="${message}"></span>
				</div>
				
				<div id="result-area">
					<div th:if="!${#lists.isEmpty(cartForm.cartItems)}">
						<table>
							<tr>
								<th>商品名</th>
								<th>商品画像</th>
								<th>アーティスト名</th>
								<th>監督名</th>
								<th>ポイント</th>
								<th>レンタル希望から削除</th>
							</tr>
							<td:block th:each="item : ${cartForm.cartItems}">
								<form th:action="@{/cart/delete}" th:object="${cartItemForm}" method="post">
									<tr>
										<td th:text="${item.itemForm.itemName }" class="itemName"></td>
										<td>
											<img th:src="@{${item.itemForm.itemImg}}" width="180" height="auto">
										</td>
										<td th:text="${item.itemForm.artist }" class="artist"></td>
										<td th:text="${item.itemForm.director }" class="director"></td>
										<td th:text="${item.itemForm.itemPoint }" class="itemPoint"></td>
										<td>
											<input type="hidden" name="itemId" th:value="${item.itemForm.itemId}">
											<input type="submit" value="削除">
											<span th:text="${error}" class="errors"></span>
										</td>
									</tr>
								</form>
							</td:block>
						</table>
						<form th:action="@{/cart/deleteall}" method="post">
							<button type="submit" class="btn">カートの中身を全削除</button>
						</form>
					</div>
					<button type="button" class="btn" onclick="location.href='/cart/confirm'">レンタル希望確認</button>
				</div>
			</div>
			
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>