<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>商品検索</title>
	<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{/css/itemSearch.css}">
</head>
<body>
	<div id="wrapper">
		<header th:insert="~{header :: header_area}"></header>
		<main>
			<div id="form-area">
				<form th:if="${itemForm != null}" th:action="@{/search/item}" th:object="${itemForm}" method="post">
					<div class="form-row">
						検索条件を指定する場合は「商品名」を入力してください。
					</div>
					<div class="form-row">
						
						<label for="itemName">商品名</label>
						<input th:field="*{itemName}">
						
						<input type="submit" value="検索する" name="user" class="btn">
					</div>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<span th:text="${error.message}" class="errors"></span><br>		
				</th:block>
				<span th:text="${errors}" class="errors"></span>
				</form>
				
				<div id="result-area">
					<div th:if="!${#lists.isEmpty(itemFormList)}">
						<table>
							<tr>
								<!--<th>商品ID</th>-->
								<th>商品名</th>
								<!--<th>カテゴリ名</th>-->
								<th>商品画像</th>
								<!--<th>商品情報更新日</th>-->
								<th>アーティスト名</th>
								<th>監督名</th>
								<th>ポイント</th>
								<th>レンタル希望</th>
							</tr>
							<td:block th:each="items : ${itemFormList}">
								<form th:action="@{/cart/insert}" th:object="${cartItemForm}" method="post">
									<tr>
										<!--<td th:text="${items.itemId }" class="itemId"></td>-->
										<td th:text="${items.itemName }" class="itemName"></td>
										<!--<td th:text="${items.genreId }" class="genreId"></td>-->
										<td th:text="${items.itemImg }" class="itemImg"></td>
										<!--<td th:text="${#dates.format(#strings.replace(items.itemUpdate, '-', '/'), 'yyyy年MM月dd日') }" class="itemUpdate"></td>-->
										<td th:text="${items.artist }" class="artist"></td>
										<td th:text="${items.director }" class="director"></td>
										<td th:text="${items.itemPoint }" class="itemPoint"></td>
										<td>
											<input type="hidden" name="itemId" th:value="${items.itemId}">
											<input type="submit" value="追加">
											<span th:text="${error}" class="errors"></span>
										</td>
									</tr>
								</form>
							</td:block>
						</table>
					</div>
				</div>
			</div>
			
			<!--ログインしていない人にのみ表示-->
			<!--sec:authorize="isAnonymous"が未ログインの時に表示させる-->
			<div sec:authorize="isAnonymous()">
				<form th:action="@{/login}" method="get">
					<div>
						<input type="submit" value="ログイン" class="btn">
					</div>	
				</form>
			</div>
						
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>	