<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<title>Topページ</title>
</head>
<body>
	<header th:insert="~{header :: header_area}"></header>
	<main>
		<form th:action="@{/admin/product/save}" th:object="${itemForm}" method="post">
			
			<!-- CSRFトークン -->
			<input type="hidden"
		       th:name="${_csrf.parameterName}"
		       th:value="${_csrf.token}" />
		       
		    <!-- 商品名 -->
		    <div>
		        <input type="text"
		               th:field="*{itemName}"
		               placeholder="商品名">
		        <div class="error"
		             th:if="${#fields.hasErrors('itemName')}"
		             th:errors="*{itemName}"></div>
		    </div>
		
		    <!-- カテゴリ番号 -->
		    <div>
		        <select th:field="*{genreId}">
				    <option th:each="genre : ${genreList}"
				            th:value="${genre.genreId}"
				            th:text="${genre.genreName}">
				    </option>
				</select>

		    </div>
		
		    <!-- 商品画像 -->
		    <div>
		        <input type="text"
		               th:field="*{itemImg}"
		               placeholder="商品画像">
		        <div class="error"
		             th:if="${#fields.hasErrors('itemImg')}"
		             th:errors="*{itemImg}"></div>
		    </div>
		
		    <!-- 更新時間 -->
		    <div>
		        <input type="text"
		               th:field="*{itemUpdate}"
		               placeholder="商品更新時間">
		    </div>
		
		    <!-- アーティスト -->
		    <div>
		        <input type="text"
		               th:field="*{artist}"
		               placeholder="アーティスト">
		    </div>
		
		    <!-- 監督 -->
		    <div>
		        <input type="text"
		               th:field="*{director}"
		               placeholder="監督名">
		    </div>
		
		    <!-- ポイント -->
		    <div>
		        <input type="text"
		               th:field="*{itemPoint}"
		               placeholder="付与ポイント数">
		        <div class="error"
		             th:if="${#fields.hasErrors('itemPoint')}"
		             th:errors="*{itemPoint}"></div>
		    </div>
		
		    <button type="submit">登録</button>
		</form>
	</main>
	<footer th:insert="~{footer :: footer_area}"></footer>
</body>
</html>