<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>会員登録フォーム</title>
	<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header th:insert="~{header :: header_area}"></header>
		<main>
			<div id="form-area">
				<form th:action="@{/user/insert}" th:object="${userInsertForm}" method="post">
					<div class="form-row">
						<div class="title"><label for="userName">ユーザー名</label></div>
						<div class="content">
							<input th:field="*{userName}">
							<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="name">氏名</label></div>
						<div class="content">
							<input th:field="*{name}">
							<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="email">メールアドレス</label></div>
						<div class="content">
							<input th:field="*{email}">
							<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="tell">電話番号<br>(ハイフン無し)</label></div>
						<div class="content">
							<input th:field="*{tell}">
							<span th:if="${#fields.hasErrors('tell')}" th:errors="*{tell}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="post">郵便番号<br>(ハイフン無し)</label></div>
						<div class="content">
							<input th:field="*{post}">
							<span th:if="${#fields.hasErrors('post')}" th:errors="*{post}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="address">住所</label></div>
						<div class="content">
							<input th:field="*{address}">
							<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title">プラン名</div>
						<div class="content">
							<label><input type="radio" th:field="*{plan}" value="BASIC">お試しプラン</label><br>
							<label><input type="radio" th:field="*{plan}" value="BRONZE">Bronzeプラン</label><br>
							<label><input type="radio" th:field="*{plan}" value="SILVER">Silverプラン</label><br>
							<label><input type="radio" th:field="*{plan}" value="GOLD">Goldプラン</label>
							<span th:if="${#fields.hasErrors('plan')}" th:errors="*{plan}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="card">クレジットカード<br>番号</label></div>
						<div class="content">
							<input th:field="*{card}">
							<span th:if="${#fields.hasErrors('card')}" th:errors="*{card}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="password">パスワード</label></div>
						<div class="content">
							<input type="password" th:field="*{password}">
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<div class="title"><label for="confirmPassword">パスワード<br>(確認用)</label></div>
						<div class="content">
							<input type="password" th:field="*{confirmPassword}">
							<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="errors"></span>
						</div>
					</div>

					<div class="form-row">
						<input type="submit" value="登録確認" class="btn">
						<span th:text="${error}" class="errors"></span>
					</div>

				</form>
			</div>
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>