<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>レンタル希望</title>
	<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header th:insert="~{header :: header_area}"></header>
		<main>
			<div id="form-area">
				<div class="form-row">
					<span th:text="${error}" class="errors"></span>
				</div>
				
				<div id="result-area">
					<div th:if="!${#lists.isEmpty(cartForm)}">
						<table>
							<tr>
								<th>商品名</th>
								<th>商品画像</th>
								<th>アーティスト名</th>
								<th>監督名</th>
								<th>ポイント</th>
							</tr>
							<td:block th:each="item : ${cartForm.cartItems}">
								<tr>
									<td th:text="${item.itemForm.itemName }" class="itemName"></td>
									<td th:text="${item.itemForm.itemImg }" class="itemImg"></td>
									<td th:text="${item.itemForm.artist }" class="artist"></td>
									<td th:text="${item.itemForm.director }" class="director"></td>
									<td th:text="${item.itemForm.itemPoint }" class="itemPoint"></td>
								</tr>
							</td:block>
						</table>
					</div>
				</div>
			</div>
				<!--ログインしている人にのみ表示-->
				<!--sec:authorize="isAuthenicated()"がログインしている時に表示させる-->
				<div sec:authorize="isAuthenticated()">
					<!--ログイン情報表示＆ログアウトボタン-->
					<form th:action="@{/logout}" method="post">
						<div>
							<span sec:authentication="name"></span>さんログイン中
							<input type="submit" value="ログアウト" class="btn">
						</div>	
					</form>
				</div>
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>