<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<title>Topページ</title>
</head>
<body>
	<header th:insert="~{header :: header_area}"></header>
	<main>
		<div class="form-area">
			<form th:if="${itemForm != null}" th:action="@{/search/item}" th:object="${itemForm}" method="post">
					<div class="form-row">
						検索条件を指定する場合は「商品名」を入力してください。
					</div>
					<div class="form-row">
						
						<label for="itemName">商品名</label>
						<input th:field="*{itemName}">
						
						<input type="submit" value="検索する" name="user" class="btn">
					</div>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<span th:text="${error.message}" class="errors"></span><br>		
				</th:block>
				<span th:text="${errors}" class="errors"></span>
			</form>
		</div>
		<!-- 商品一覧表示 -->
		
		<div>
			<div class="product-list-container">

		    	<h1 class="page-title">商品一覧</h1>
			    <div class="product-list">
			        <div class="product-card" th:each="product : ${products}">
						<form th:action="@{/cart/insert}" th:object="${cartItemForm}" method="post">
			            
				            <div class="product-img">
				                <img th:src="@{|${product.itemImg}|}" 
				                     th:alt="${product.itemName}">
				            </div>
							
				            <div class="product-info">
				                <p class="product-name" 
				                   th:text="${product.itemName}">商品名</p>
				                   
				                <p class="product-name" 
				                   th:text="${product.artist}">アーティスト名</p>
				                   
				                <p class="product-name" 
				                   th:text="${product.director}">監督名</p>
				
								<div class="product-buttons">
				                	<a th:href="@{'/products/' + ${product.itemId}}" 
				                   		class="btn btn-detail">詳細を見る</a>
									<!-- カートへ追加用のリンクあとから追加-->
									<!--ログインしている人にのみ表示-->
									<div sec:authorize="isAuthenticated()">
									    <a href="#" class="btn btn-cart">
									        <i class="fa-solid fa-cart-shopping"></i>
									        カートに追加
									    </a>
									</div>
								</div>
				            </div>
			            </form>
			        </div>
			    </div>
			    
			    <h2>新作人気商品 TOP5</h2>
					<div class="product-list">
					    <div class="product-card" th:each="product : ${newTop5}">
					        <div class="product-img">
					            <img th:src="@{|${product.itemImg}|}">
					        </div>
					        
					        <p th:text="${product.itemName}"></p>
					        
					    	<div class="product-info">
								<p class="product-name" 
									th:text="${product.itemName}">商品名</p>
				                   
				                <p class="product-name" 
				                   th:text="${product.artist}">アーティスト名</p>
				                   
				                <p class="product-name" 
				                   th:text="${product.director}">監督名</p>
				
				                <div class="product-buttons">
				                	<a th:href="@{'/products/' + ${product.itemId}}" 
				                   		class="btn btn-detail">詳細を見る</a>
									<!-- カートへ追加用のリンクあとから追加-->
									<!--ログインしている人にのみ表示-->
									<div sec:authorize="isAuthenticated()">
									    <a href="#" class="btn btn-cart">
									        <i class="fa-solid fa-cart-shopping"></i>
									        カートに追加
									    </a>
									</div>
								</div>
			            	</div>
					    </div>
					</div>
					
				<h2>旧作人気商品 TOP5</h2>
					<div class="product-list">
					    <div class="product-card" th:each="product : ${oldTop5}">
							
					        <div class="product-img">
					            <img th:src="@{|${product.itemImg}|}">
					        </div>
					        
					        <p th:text="${product.itemName}"></p>
					        
						    <div class="product-info">
				                <p class="product-name" 
				                   th:text="${product.itemName}">商品名</p>
				                   
				                <p class="product-name" 
				                   th:text="${product.artist}">アーティスト名</p>
				                   
				                <p class="product-name" 
				                   th:text="${product.director}">監督名</p>
				
				                <div class="product-buttons">
				                	<a th:href="@{'/products/' + ${product.itemId}}" 
				                   		class="btn btn-detail">詳細を見る</a>
									<!-- カートへ追加用のリンクあとから追加-->
									<!--ログインしている人にのみ表示-->
									<div sec:authorize="isAuthenticated()">
									    <a href="#" class="btn btn-cart">
									        <i class="fa-solid fa-cart-shopping"></i>
									        カートに追加
									    </a>
									</div>
								</div>
				            </div>
						</div>
				    </div>
					
				<h2>Music</h2>
				<div class="product-list">
					
				    <div class="product-card" th:each="product : ${musicList}">
				        <img th:src="@{|${product.itemImg}|}">
				        <p th:text="${product.itemName}"></p>
				    
				    	<div class="product-info">
			                <p class="product-name" 
			                   th:text="${product.itemName}">商品名</p>
			                   
			                <p class="product-name" 
			                   th:text="${product.artist}">アーティスト名</p>
			                   
			                <p class="product-name" 
			                   th:text="${product.director}">監督名</p>
			
			                <div class="product-buttons">
			                	<a th:href="@{'/products/' + ${product.itemId}}" 
			                   		class="btn btn-detail">詳細を見る</a>
								<!-- カートへ追加用のリンクあとから追加-->
								<!--ログインしている人にのみ表示-->
								<div sec:authorize="isAuthenticated()">
								    <a href="#" class="btn btn-cart">
								        <i class="fa-solid fa-cart-shopping"></i>
								        カートに追加
								    </a>
								</div>
							</div>
			            </div>
				    </div>
				</div>
			
		</div>
		<!--ログインしていない人にのみ表示-->
		<!--sec:authorize="isAnonymous"が未ログインの時に表示させる-->
		<div sec:authorize="isAnonymous()">
			<form th:action="@{/login}" method="get">
				<div>
					<input type="submit" value="ログイン" class="btn">
				</div>	
			</form>
		</div>
		
		<!--ログインしている人にのみ表示-->
		<!--sec:authorize="isAuthenicated()"がログインしている時に表示させる-->
		<div sec:authorize="isAuthenticated()">
			<!-- ログイン情報表示＆ログアウトボタン
			<form th:action="@{/logout}" method="post">
				<div>
					<span sec:authentication="name"></span>さんログイン中
					<input type="submit" value="ログアウト" class="btn">
				</div>	
			</form> -->		
			<div class="button-group">
				<form th:action="@{/cart}" method="get">
					<div>
						<input type="submit" value="レンタル希望" class="btn">
					</div>	
				</form>
				<form th:action="@{/user/update}" method="get">
					<div>
						<input type="submit" value="ユーザー情報更新" class="btn">
					</div>	
				</form>
				<form th:action="@{/deactivate}" method="get">
					<div>
						<input type="submit" value="退会する方はこちら" class="btn">
					</div>	
				</form>
			</div>
			
			<!-- EMPLOYEE権限を持っている人のみに表示 -->
			<!-- sec:authorize="hasAuthority()"が指定した権限を持っている人に表示させる -->
			<div sec:authorize="hasAuthority('EMPLOYEE')">
				<a th:href="@{/search/user}">管理者用ユーザー検索ページ</a>
			</div>
		</div>
		
	</main>
	<footer th:insert="~{footer :: footer_area}"></footer>
</body>
</html>